

.stamp__container {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    min-height: 80vh;

}

h2 {
    margin-bottom: 40px;
}

.stamp__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.stamp-button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3em 8em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    cursor: pointer;
}



.stamp-button:hover {
    background-color: #f2f2f2;
}

.layout-footer {
    text-align: center;
    padding: 5px;
    background-color: #fff;
}